<ul class="social {{ classname }}">
  <li class="social__item">
    <a href="#" class="social__link" aria-label="facebook">
      <icon src="./images/fb.svg" class="social__icon"></icon>
    </a>
  </li>
  <li class="social__item">
    <a href="#" class="social__link" aria-label="twitter">
      <icon src="./images/tw.svg" class="social__icon"></icon>
    </a>
  </li>
  <li class="social__item">
    <a href="#" class="social__link" aria-label="instagram">
      <icon src="./images/insta.svg" class="social__icon"></icon>
    </a>
  </li>
</ul>
